{% extends "base.html" %}

{% block title %}  Nuevo Proyecto {% endblock %}
{% block subtitle %} Firestore {% endblock %}

{% block main %}
<h1>Proyecto</h1>
<div class="well">
Introduce los datos del proyecto, al finalizar no olvides guardar la información.
</div>

<form method="post" action="/firestore/{{project_code}}"
enctype="multipart/form-data">{% csrf_token %}

{{ form.as_ul }}

<div class="panel-body">
<table align="right">
  <tr>
    <td>
      <button type="submit" name="save_page_button" class="btn btn-success">Guardar</button>
    </td>
    <td>
      <input type="submit" value="Cancelar" name="cancel_page_button" class="btn btn-danger" formnovalidate>
    </td>
    
   </tr>
</table>
</div>
<div class="jumbotron">


<!--<button type="submit" name="cancel_page_button">Cancelar</button>-->

</input>
</form>

{% endblock %}
