
{% extends "base.html" %}

{% block title %}  Información  {% endblock %}
{% block subtitle %}  {% endblock %}

{% block main %}

 <p>
   El paciente <b>{{ project.name }} {{ project.code }} </b> fue guardado exitosamente.
 </p>

 <p>
   <form  method="GET" action="/firestore/0">{% csrf_token %}
    <button type="submit">Añadir nuevo proyecto</button>
   </form>
   <form  method="GET" action="/firestore/">{% csrf_token %}
    <button type="submit">Continuar</button>
   </form>

   
 </p>


{% endblock %}
